{% extends "base.jinja2" %}
{% block content %}

  {% if error_msg %}
    <div class="w3-panel w3-red">
      <h3>Error:</h3>
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}

  <header class="w3-container w3-green">
    <h2><a href="{{ url_for('index') }}">{{ icon('plus-circle') }} New run</a></h2>
  </header>

  <div class="w3-container w3-panel w3-white w3-padding">

    <p>
      <a class="w3-btn w3-blue" href="{{ url_for('runs') }}">{{ icon('arrow-circle-left') }} Back</a>
    </p>

    <p><big>To start a new run please fill in the submission form:</big></p>

    <form method="POST">

      <p>
        <label><h4>{{ icon('hand-o-down') }}</h4></label>
        <label>Enter a short name for you run. (letters, numbers and space only.)</label>
        <input class="w3-input" type="text" name="run_name" pattern="[a-zA-Z0-9\s]+" minlength=1 maxlength=2048 placeholder="my run" {% if run_name %}value="{{ run_name }}"{% endif %} required></input>
      </p>

      <p>
        <label><h4>{{ icon('hand-o-down') }} Input file path</h4></label>
        <label>Enter the absolute path to the input files directory (e.g. {{ path_placeholder }}).</label></br>
        <label>This should also contain a SLURM job file.</label>
        <input class="w3-input" type="text" name="run_local_dir" minlength=1 maxlength=2048 placeholder="{{ path_placeholder }}" {% if run_local_dir %}value="{{ run_local_dir }}"{% endif %} required></input>
      </p>

      <p>
        <button class="w3-input w3-btn w3-blue">{{ icon('arrow-right') }} Submit</button>
      </p>
    </form>

    <p>
      <button class="w3-input w3-btn w3-red"><a href="{{ url_for('runs') }}">{{ icon('stop') }} Cancel</a></button>
    </p>

  </div>


{% endblock content %}
